@{
  Layout = "_Layout";
}

<h1>Welcome to Your Youtube Favorites Categorizer!</h1>
<p>@Html.ActionLink("See all YouTube pages", "Index", "YouTubePages")

<p>@Html.ActionLink("See all categories", "Index", "Categories")</p>